---
layout: default
---



<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h1><a href="/AsKvarn">{{site.title}}</a></h1>
    <h3>Kvarnens histora</h3>
    <p class="major"></p>
    <p>Exakt ålder okänd. Kvarnen lär vara flyttad från stafsinge, men har legar på nuvarande plats i ca. 150 år.</p>
    <p>Kvarnen skall ha flyttats hit på uppdrag utav gästgivaren på Åsbro gästgiveri. 1906 säljs kvarnen med mark och hus till Karl Bernhard Andersson & Anders Johan Bengtsson. 1908 köper Gustav Svensson kvarnen och den ägs idag av hans ättling.</p>
    <ul class="actions vertical">
        <li><a href="#first" class="button big wide smooth-scroll-middle">Mjölnare i kvarnen</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="images/Kvarnen3.jpg" alt="" />
  </div>
</section>
        

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
      <h3>Mjölnare i kvarnen</h3>
        <dl>
        {% for miller in site.data.millers %}
          <dt>{{ miller.years }} {{ miller.name }} {% if miller.role %}<i>{{ miller.role }}</i>{% endif %}</dt>
          <dd>
            {% if miller.quote %}
            <blockquote>
              {{ miller.quote }}
            </blockquote>
            {% else %}
            <p></p>
            {% endif %}
          </dd>
        {% endfor %}
        </dl>
      </div>
    <div class="image">
        <img src="images/19XX.jpg" alt="" />
    </div>
</section>


        <!--<section>
        <header><h3>Ägare av kvarnen</h3></header>
        <div class="content">
          <hr />
          <header><h4>Carl Andersson & ...</h4></header>
          <p></p>
          <hr />
          <header><h4>Anna Severina Anderson & ...</h4></header>
          <p></p>
          <hr />
          <header><h4>Johannes Börjeson & ...</h4></header>
          <p></p>
          <hr />
          <header><h4>Karl Bernhard Andersson & Anders Johan Bengtsson</h4></header>
          <p></p>
          <hr />
          <header><h4>Gustav Svensson</h4></header>
          <p></p>
          <hr />
          <header><h4>Sven Svensson</h4></header>
          <p></p>
        </div>
      </section>-->
